<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet" />
</head>
<body>
	<div class="container">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<p>
			<a th:href="@{/formventas}" class="btn btn-dark">Crear
				Venta</a>
		</p>

		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Usuario</th>
					<th scope="col">Producto</th>
					<th scope="col">Monto</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="venta: ${ventas}">
					<th scope="row" th:text="${venta.id}"></th>
					<td th:text="${venta.usuario}"></td>
					<td th:text="${venta.producto}"></td>
					<td th:text="${venta.monto}"></td>
				</tr>
			</tbody>
		</table>
		
		<!--  <h2>Ventas</h2>
		<p th:text="${vend}"></p> -->
	</div>
</body>
</html>