<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="container">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<p>
			<a th:href="@{/formcolor}" class="btn btn-dark">Crear Color</a>
		</p>
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Nombre del color</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="color: ${colores}">
					<td th:text="${color.id}"></td>
					<td th:text="${color.nombre}"></td>
				</tr>
			</tbody>

		</table>
	</div>
</body>
</html>